.cald-div {
    height: 70vh;
    width: 50vw;
    background-color: #ffffff;
    color: black;
    padding: 10px;
    border-radius: 50px;
    border-bottom-right-radius: 150px;
}

.input-div {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid black;
}

.input-subdiv {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

label{
    font-size: 22px;
    font-weight: 600;
}
.input {
    padding: 10px;
    width: 70px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin: 10px;
    background-color: white;
    border: 1px solid rgb(78, 76, 76);
}

.txt-div {
    padding: 10px;
}

.title {
    font-size: 30px !important;
}

.age-text {
    padding: 0 20px;
}

.age-text>p {
    font-size: 40px;
    font-weight: 700;
}

.age-txt {
    color: rgb(86, 4, 168);
}

@media screen and (max-width:376px) {
    .cald-div {
        width: 80vw !important;
        height: fit-content;
        border-radius: 20px;
    }

    .input-div {
        flex-direction: column;
    }

    .input-subdiv {
        flex-direction: row;
        margin: 10px 0;
    }

    .input {
        padding: 3px 8px;
        width: 50px;
        font-size: 15px;
        font-weight: 500;
        margin: 0 10px;
    }
    .title {
        font-size: 20px !important;
    }
    
    .age-text {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    .age-text>p {
        font-size: 25px;
        font-weight: 700;
        margin: 10px 0;
        width: 70%;
        display: flex;
        justify-content: start;
    }
    .age-txt{
        margin: 0 5px;
    }
}