.input-div {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid black;
}

.input-subdiv {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

label{
    font-size: 22px;
    font-weight: 600;
}
.input {
    padding: 5px 10px;
    width: 70px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin: 10px;
    outline: none;
    background-color: white;
    border: 1px solid rgb(78, 76, 76);
}
