.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
}
.age-header{
    display: flex;
}
@media screen and (max-width:576px) {
    .app{
        height: fit-content;
        padding: 10px 0;
    }
    .app>h1{
        margin: 5px;
    }
}